

	
	
	#contbox {
		width:90%;
		background-color:#FAD7A0;
		margin:10px auto;
		border:2px solid black;
	}
	.title{
		width :90%;
		text-align:center;
		background-color:#B9770E;
		height :30px;
		margin-left:5%;
		
		}
		.fortext{
		width:90%;
		height:auto;
		}
		th,tr,td{
		    border: 1px solid black;
			}
		
	
	
	
</head>